<!DOCTYPE html>
    <html>
        <head>
            <title>
              The Playground👾
            </title>
           <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
            <link rel="shotcut icon" type="image" href="https://dancingastro-wpengine.netdna-ssl.com/wp-content/themes/AstronautThemeV4/img/icons/favicon.ico?v=1.2">
        </head>