<!DOCTYPE html>
    <html>
        <head>
            <title>
              The Playground👾
            </title>
           <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
            <link rel="shotcut icon" type="image" href="https://dancingastro-wpengine.netdna-ssl.com/wp-content/themes/AstronautThemeV4/img/icons/favicon.ico?v=1.2">
        </head>



        <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand nav-text" href="/">The Playground👾</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="nav-text" href="#myPage">HOME</a></li>
                  <li><a class="nav-text" href="#tour">BLOG</a></li>
                  <li><a class="nav-text" href="/blogs/new">NEW POST</a></li>
                  <li><a class="nav-text" href="#contact">CONTACT</a></li>
                   <li class="dropdown">
                  <a class="dropdown-toggle nav-text" data-toggle="dropdown" href="#">MORE
                  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/blogs/archives">Archives</a></li>
                    </ul>
                  </li>
                  <% if(!currentUser){ %>
                  <li><a class="fuller-button2 blue" href="/login">LOG IN</a></li>
                  <li><a class="fuller-button2 blue" href="/register">SIGN UP</a></li>
                  <% } else{ %>
                  <li><a class="fuller-button2 blue" href="#">Hey, <%= currentUser.username %>!</a></li> 
                  <li><a class="fuller-button2 blue" href="/logout">LOG OUT</a></li> 
                  <% } %>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
          
          
       <!--SECONDARY NAV-->
<!--          <nav class="navbar navbar-default second-nav">
            <div class="container-fluid">
              <ul class="nav navbar-nav navbar-right">
                  <% if(!currentUser){ %>
                  <li><a class="fuller-button2 blue" href="/login">LOG IN</a></li>
                  <li><a class="fuller-button2 blue" href="/register">SIGN UP</a></li>
                  <% } else{ %>
                  <li><a class="fuller-button2 blue" href="#">Hey, <%= currentUser.username %>!</a></li> 
                  <li><a class="fuller-button2 blue" href="/logout">LOG OUT</a></li> 
                  <% } %>
              </ul>
           </div>
        </nav>
        
        -->
          
          
          

          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          

