html{
 scroll-behavior: smooth;
}

body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
.description-h4 {
color:#0dd;
}

  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100%*/
      margin: auto;
  }  
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
/*       background: #ccc; */
      background-color: #2d2d30;

      color: #bdbdbd;



   

  }
  .bg-1 h3 {color: #000;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
      display: inline-block;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }  
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 14px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }

  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }



#love-u{
  margin-top: 100px;
  padding-bottom: 55px;
  text-align:center;
}



/* Blog Cards */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


img {
    width: 100%;
    vertical-align: middle;
  
}

.blog-item img {
  display: block;
}

.blog-item a {
    display: flex;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item .icon {
    width: 35%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-item .content {
    width: 65%;
}

.blog-item .content .title {
    font-size: 21px;
    text-transform: capitalize;
    color: #25aae1;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}



.blog-item .content .title .blog-date {
    font-size: 12px;
    margin-left: 20px;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.blog-item .content .title .blog-date:before {
    content: '/';
    color: #2bb673;
    font-size: 25px;
    top: auto;
    position: relative;
    margin-right: 10px;
}

.blog-item .content .rounded {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-item .item-arrow {
    height: 20px;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 35px;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover > .item-arrow {
    /*padding-left: 40px;*/
    color: #25aae1;
    left: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rounded {
    width: 70px;
    height: 5px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #25aae1, #40e495);
    /* background: #2bb769; */
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){

    .blog-item .content {
        width: 100%;
        margin-top: 35px;
    }

    .blog-item .content .title {
        font-size: 18px;
    }

    .blog-item .item-arrow {
        margin: auto;
    }

    .blog-item .icon {
        width: 100%;
    }

    .blog-item .icon img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .blog-item {
        width: 92%;
        margin: auto;
    }

    .blog-item a {
        display: block;
        padding: 30px;
    }

}



	.modal-newsletter {	
		color: #9f9f9f;
		width: 525px;
		font-size: 15px;
	}		
	.modal-newsletter .modal-content {
		padding: 40px 50px;
		border-radius: 1px;		
		border: none;
	}
	.modal-newsletter .modal-header {
		border-bottom: none;   
        position: relative;
		text-align: center;
		border-radius: 5px 5px 0 0;
	}
	.modal-newsletter h4 {
		color: #000;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		font-size: 30px;
		margin: 0;		
		text-transform: uppercase;
	}	
	.modal-newsletter .close {
		position: absolute;
		top: -25px;
		right: -35px;
		color: #c0c3c8;
		text-shadow: none;
		opacity: 0.5;
		font-size: 26px;
		font-weight: normal;
	}
	.modal-newsletter .close:hover {
		opacity: 0.8;
	}
	.modal-newsletter .form-control, .modal-newsletter .btn {
		min-height: 46px;
		text-align: center;
		border-radius: 1px; 
	}
	.modal-newsletter .form-control {
		box-shadow: none;
		background: #f5f5f5;
		border-color: #d5d5d5;
	}
	.modal-newsletter .form-control:focus {
		border-color: #ccc;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	}
    .modal-newsletter .btn {
        color: #fff;
		background: #353535;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		padding: 6px 20px;
        border: none;
		margin-top: 20px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
    }
	.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
		background: #171717;
		outline: none;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	}
	.modal-newsletter .form-group {
		padding: 0 20px;
		margin-top: 30px;
	}
	.modal-newsletter .footer-link{
		margin-top: 20px;
		min-height: 25px;
	}
	.modal-newsletter .footer-link a {
		color: #353535;
		display: inline-block;
		border-bottom: 2px solid;
		font-weight: bold;
		text-align: center;		
		text-transform: uppercase;
		font-size: 14px;
	}
	.modal-newsletter .footer-link a:hover, .modal-newsletter .footer-link a:focus {
		text-decoration: none;
		border: none;
	}
	.hint-text {
		margin: 100px auto;
		text-align: center;
	}


/* Pagination */
#band2, #band3{display:none;}

/*Footer Button */

.fuller-button {
  color: white;
  background: none;
  border-radius: 0;
  padding: 1.2em 5em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
  margin-left:40%;
   margin-right:40%;
}
.fuller-button.blue {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
}
.fuller-button.blue:hover {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
}

.fuller-button2 {
  color: white;
  background: none;
  border-radius: 0;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin-left: 0.5em;
}
.fuller-button2.blue {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
}
.fuller-button2.blue:hover {
/*   background-color: #0dd; */
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
}


